
body {
    background-color: #012c43;
}

.charts-map {
    background-color: #d0cfd4;
}

.osm-water-bg {
    background-color: #d0cfd4;
}

.atons-map {
    background-color: #d0cfd4;
}

.message-list-map {
    background-color: #d0cfd4;
}

.message-details-map {
    background-color: #d0cfd4;
}

table.front-page-links {
    margin: 20px auto 0  auto;
}

table.front-page-links tr td {
    text-align: center;
    padding: 0 10px;
}

table.front-page-links tr td a {
    color: #ddd;
    font-size: 10px;
    text-decoration: none;
}

table.front-page-links tr td a img {
    width: 24px;
}
